<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>chkcpe</title>
    <link rel="stylesheet" href="/css/chkcpe.min.css">
  </head>

  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <strong>chkcpe</strong>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/list/valid"><img src="https://img.shields.io/badge/valid-brightgreen"></img></a>
            <a class="navbar-item" href="/list/invalid"><img src="https://img.shields.io/badge/invalid-red"></img></a>
            <a class="navbar-item" href="/list/deprecated"><img src="https://img.shields.io/badge/deprecated-red"></img></a>
            <a class="navbar-item" href="/list/checkneeded"><img src="https://img.shields.io/badge/checkneeded-orange"></img></a>
            <a class="navbar-item" href="/list/readytocommit"><img src="https://img.shields.io/badge/readytocommit-orange"></img></a>
            <a class="navbar-item" href="/list/unknown"><img src="https://img.shields.io/badge/unknown-grey"></img></a>
          </div>
        </div>
      </div>
    </nav>

