{% include('_header.html') %}

<div class="container">

  <h1 class="title is-2">{{ status }}</h1>
  <h2 class="title is-3">{{ ports|length }} ports</h2>

  <table class="table is-striped is-bordered is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Port</th>
        <th>Maintainer</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for port in ports %}
        <tr>
          <td>
            <a href="/port/{{ port.origin }}/">{{ port.origin }}</a>
          </td>
          <td>
            <a href="mailto:{{ port.maintainer }}">{{ port.maintainer }}</a>
          </td>
          <td>
            <img src="https://img.shields.io/badge/{{ port.cpestatus }}-black"></img>
          </td>
          <td>
            {% if port.cpestatus == "valid" %}
              found CPE {{ port.cpe }}
            {% elseif port.cpestatus == "invalid" %}
              Vendor {{ port.cpevendor }} Product {{ port.cpeproduct }} not found in DB
            {% elseif port.cpestatus == "deprecated" %}
              Deprecated by Vendor {{ port.cpe.deprecatedby.vendor }} Product {{ port.cpe.deprecatedby.product }}
            {% elseif port.cpestatus == "checkneeded" or port.cpestatus == "readytocommit" %}
              {% for candidate in port.cpecandidates %}
                {{ candidate }}
              {% endfor %}
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4"><i>none</i></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% include('_footer.html') %}

