name: Regenerate README.md
on:
  gollum:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Check out repository wiki
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}.wiki
          path: wiki

      - name: Prepare ENV variables
        run: |
          echo "VALID=$(cat wiki/env | grep ^VALID | cut -d= -f2)" >> $GITHUB_ENV
          echo "DEPRECATED=$(cat wiki/env | grep ^DEPRECATED | cut -d= -f2)" >> $GITHUB_ENV
          echo "INVALID=$(cat wiki/env | grep INVALID | cut -d= -f2)" >> $GITHUB_ENV
          echo "CHECKNEEDED=$(cat wiki/env | grep CHECKNEEDED | cut -d= -f2)" >> $GITHUB_ENV
          echo "UNKNOWN=$(cat wiki/env | grep UNKNOWN | cut -d= -f2)" >> $GITHUB_ENV
          echo "EASY=$(cat wiki/env | grep EASY | cut -d= -f2)" >> $GITHUB_ENV
          echo "IMPORTANT=$(cat wiki/env | grep IMPORTANT | cut -d= -f2)" >> $GITHUB_ENV
          echo "LASTMOD=$(date)" >> $GITHUB_ENV

      - name: Render README.md
        uses: vafinvr/template-env-action@master
        env:
          VALID: ${{ env.VALID }}
          DEPRECATED: ${{ env.DEPRECATED }}
          INVALID: ${{ env.INVALID }}
          CHECKNEEDED: ${{ env.CHECKNEEDED }}
          UNKNOWN: ${{ env.UNKNOWN }}
          EASY: ${{ env.EASY }}
          IMPORTANT: ${{ env.IMPORTANT }}
          LASTMOD: ${{ env.LASTMOD }}
        with:
          filename: TEMPLATE.md

      - name: Commit changes to README.md
        run: |
          cp -p TEMPLATE.md README.md
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git diff-index --quiet HEAD || git commit -m "Update statistic numbers" && git push
